
#signup input[id = 'tel']{
    border: 1px solid black;
}
#signup input{
    line-height: 14px;
    /* 14픽셀 이상 안주면 한글 적을 때 다른 요소가 흔들린다. */
    border: 1px solid red;
    border-radius: 5px;
    font-size:13px;
    padding: 5px;
    width: 200px;
}
#signup input[id='level']{
    border-style:none;
}
#signup label{
    float: left;
    width: 100px;
    font-size: 13px;
}
