#container {
  width:1000px;
  margin:20px auto;
}
h1 {
  text-align:center;
}
.prod-list {
  list-style:none;
  padding:0;
}
.prod-list li {
  float: left;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.prod-list img {
  margin:0;
  padding:0;
  float:left;
  z-index:5;
 
}
.caption{
  text-align: center;
  color: white;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  background-color: rgba(0,0,0,0.6);
  z-index: 6;
  top: 200px;
  width: 300px;
  height: 200px;
  position: absolute;
  /* 이거 포지션 앱솔루트를 안줘서 참 고생했었다.
  당연한 걸 몰랐었네. */
}
#container .prod-list li:hover .caption{
  transform: translateY(-200px);
  opacity: 1;
}